	article {
		padding: 1em 2em 0 2em;

		header {
			
			.entry-title {

			}
			.meta {
				color: $grayDark;
				top: 0px;
				position: absolute;
				margin-bottom: 0px;

			time {
				display: inline-block;
				text-transform: uppercase;
				}
			
			.tags {
				a {
					color: $redBrick;
					}
				display: inline-block;
				margin-left: 12px;
				vertical-align: 1px;
				}

			} // meta

		} // header
	
		p {
			font-size: $base-font-size;
			color: $grayDarker
			
		}

		pre.sourceCode {

		}

		blockquote {


		}

	} //article