//	Colors
// ------------------------------------------------------------------
$black: #000;
$gray: #aaa;		// Sub Headings (h4).
$grayDark: #333;	//Headings.
$grayDarker: #292929;	// Nav, article title, p, Block background.
$grayLight: #bbb;    
$dayLight: #eee;      //Page bkgrd
$white: #fff;

$blueGray: #4E808E;	//Submenu, Read more, Global anchor.
$redBrick: #660E0E;	// title span, emphasis

// Scaffolding
$body-bg: $dayLight;
$textColor: $grayDarker;

// Links
$linkColor: $blueGray;
$linkColorHover: darken($linkColor, 15%);

// Headers color
$headingColor: $grayDark;
$subheadingColor: $blueGray;

// Base - p
