.main-content {
	font-size: .875rem;
	font-weight: 400;
	height: 100%;
	max-width: 40rem;

	article.abstract {
		border-bottom: 1px solid $grayDark;
		}
	
	div.more {
		text-align: right;
		}

	div.aside {
		text-align: right;		
		}