// Typography
// 2015 11 17
// https://mplus-fonts.osdn.jp/design.html#mplus_1
@import "colors";
@import "mpfonts.scss";

%mplus-1c {
	font-family: 'M+ C Type-1 (basic latin) Regular',sans-serif;
}
%mplus-2c {
	font-family: 'M+ C Type-1 (basic latin) Regular',sans-serif;
}
%mplus-1p{
	font-family: 'M+ P Type-1 (basic latin) Light',sans-serif;
}
%mplus-2p {
	font-family: 'M+ P Type-2 (basic latin) Regular',sans-serif;
}
%mplus-1m {
	font-family: 'M+ M Type-1 (basic latin) Thin',sans-serif;
}
%mplus-2m {
	font-family: 'M+ M Type-2 (basic latin) Regular',sans-serif;
}
%mplus-1mn {
	font-family: 'M+ MN Type-1 (basic latin) Medium',sans-serif;
}

// titling style
span.infin {
	@extend %mplus-1mn;
	color: $grayDark;
	font-weight: 200;
}
span.regre {
	@extend %mplus-1mn;
	color: $redBrick;
	font-weight: 200;
}

h1,h2,h3,h4,h5,h6 {
	@extend %mplus-1mn;
	line-height: 1.2;
	color: $blueGray;
}

p {
	@extend %mplus-1m;
	color: $grayDark;
	font-size: 19px;
	font-weight: 200;
	line-height: 27px;

	padding-bottom: 1em;
}

