<article class="abstract">
  <header>
    <h1 class="article-title">$title$</h1>
    <div class="meta">
      <time datetime="$datetime$" pubdate data-updated="true">$date$</time>
      <div class="tags">$tags$</div>
    </div><!-- meta -->
  </header>
  <div class="article-body">
      $teaser$
  </div>
  <footer>
    <div class="more">
      <a href="$url$">&hellip; more</a>
    </div>
  </footer>
</article>