<article class="full-article">
    <header>
		<h1 class="article-title">$title$</h1>
		<div class="meta">
			<time datetime="$datetime$" pubdate data-updated="true">$date$</time>
			<div class="tags">$tags$</div>
		</div><!-- meta -->
	</header>
	<div class="article-body">
	$body$
	</div>	
	<div class="stamp">$git$</div>
</article>